//Colors

//Primary

//Text
$VeryDarkdeSaturatedBlue: hsl(238, 29%, 16%);
$SoftRed: hsl(14, 88%, 65%);

//Gradient
//Background gradient:
$SoftViolet: hsl(273, 75%, 66%);
$SoftBlue: hsl(240, 73%, 65%);

//Neutral
//Text
$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);

//Dividers
$LightGrayishBlue: hsl(240, 5%, 91%);

:root{
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient($SoftViolet, $SoftBlue);
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 90%;
    height: 520px;
    margin-top:87px;
    overflow: visible;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 13px 68px -15px #000000;
}

.card-mobile-img{
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .pattern-mobile{
        position: absolute;
        margin-top: -12px;
    }

    .online-mobile{
        position: absolute;
        margin-top: -140px;
        margin-left: -28px;
    }
}
.card-desktop-img{
    display: none;
}

.faq{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.faq-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: $VeryDarkdeSaturatedBlue;
    padding-bottom: 20px;

}
.faq-item{
    font-size: 14px;
    font-weight: 400;
    color: $VeryDarkGrayishBlue;
    text-align:left;
    border-bottom: 1px solid $LightGrayishBlue;
}

.faq-item-title{
    cursor: context-menu;
    display: inline-block;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;

}

.arrow-icon{
    float: right;
}

.faq-item-description{
    display: none;
    font-size: 0.9em;
    color: $DarkGrayishBlue;
    cursor: context-menu;
    animation: test 0.3s ease-in;
    padding-right: 25px;
    padding-bottom: 20px;
}

//prestar atençõa no icone, ele não esta junto do titulo da pergunta


@keyframes test{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @media (min-width: 1024px){

    .card{
        display: grid;
        width: 900px;
        margin: 0px;
        height: 500px;
        grid-template-columns:50% 50%;
        overflow: hidden;
    }
    .card-mobile-img{
        display: none;
    }

    .card-desktop-img{
        display: inherit;
        overflow: hidden;

        .pattern-mobile{
            position: relative;
        margin-top: -290px;
        margin-left: -595px;
        }
        .online-mobile{
            position: relative;
            margin-top: -570px;
            margin-left: -80px;
            width: 450px;
        }
        .box{
            display: block;
            position: absolute;
            margin-top: 210px;
            margin-left: -94px;
        }
    }
    .faq{
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 95px;
    }
    .faq-title{
        text-align: left;
    }
}
